{% extends "account/base.html" %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block auth %}

{# Breadcrumbs #}
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <nav aria-label="breadcrumb">
        <hr>
        <ol class="breadcrumb bg-white p-0">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Login</li>
        </ol>
        <hr>
      </nav>
    </div>
  </div>
</div>

{# Banner #}
<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <h2 class="display-1">Login</h2>
    </div>
  </div>
</div>

{# Message #}
<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <p>Login or Sign up using your favourite social media platform.</p>
    </div>
  </div>
</div>

{# Content #}
<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      {% get_providers as socialaccount_providers %}
      {% if socialaccount_providers %}
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      {% endif %}
    </div>
  </div>
</div>

{# Image #}
<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="parallax"
        style="background-image: url('{% static 'apps/account/images/image-1.jpg' %}'); max-height: 10rem; min-height: 10rem">
      </div>
    </div>
  </div>
</div>

{% endblock %}