{% extends "account/base.html" %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block auth %}

{# Breadcrumbs #}
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Login</li>
        </ol>
        <hr>
      </nav>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
      <p>For development, please login using /admin</p>
      <a href="{% url 'admin:index' %}" class="btn btn-block btn-primary">Link to admin panel</a>
    </div>
  </div>
</div>

{# Divider #}
<div class="container-fluid">
  <div class="row my-5">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <hr>
    </div>
  </div>
</div>

{# Banner #}
<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <h2 class="display-4">Login</h2>
    </div>
  </div>
</div>

{# Message #}
<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <p>Login or Sign up using your favourite social media platform.</p>
    </div>
  </div>
</div>

{# Content #}
<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      {% get_providers as socialaccount_providers %}
      {% if socialaccount_providers %}
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      {% endif %}
    </div>
  </div>
</div>

{# Image #}
<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="parallax"
        style="background-image: url('{% static 'apps/account/images/image-1.jpg' %}'); max-height: 10rem; min-height: 10rem">
      </div>
    </div>
  </div>
</div>

{% endblock %}