{% extends 'events/root.html' %} {% block title %}General Events{% endblock %} {% block content %}
{% load static %}

{# Breadcrumbs #}
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'events' %}">Events</a></li>
          <li class="breadcrumb-item active" aria-current="page">General Events</li>
        </ol>
        <hr>
      </nav>
    </div>
  </div>
</div>

{# Banner #}
<div class="container-fluid">
  <div class="row my-5">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <h2 class="display-4">General Events</h2>
    </div>
  </div>
</div>

{# Search & tags #}
<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
      <div class="row">
        <div class="col-md-12">
          <label for="query">
            <h5>Search</h5>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <form method="GET" action="">
            <div class="input-group input-group-lg mb-3">
              <input type="text" name="query" value="{{ request.GET.query }}" class="form-control"
                placeholder="Search by title or status"
                aria-label="Search by title or status" aria-describedby="button-search" />
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit" value="Search" id="button-search"><i
                    class="fal fa-search"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{# Event Navbar #}
{% include "events/event-navbar.html" %}

{# Event List #}
<div class="container-fluid">
  <div class="row mt-4">
    {% for event in events %}
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 mb-4">
      <a href="{% url 'general_events_booking' slug=event.slug %}">
        <div class="card bg-light border-0 h-100">
          {% if event.image %}
          <img src="{% static 'global/images/placeholders/image-placeholder.jpg' %}" data-src="{{ event.image.url }}"
            loading="lazy" alt="{{ event.image.name }}" class="lazy img-fluid card-img-top feed" width="100%">
          {% endif %}
          <div class="card-body">
            <div class="card-title">
              {{ event.title }}
            </div>
          </div>
          <div class="card-footer text-dark bg-light border-0">
            <div class="float-left">
              {{ event.status }}
            </div>
            <div class="float-right"><i class="fal fa-arrow-right fa-lg"></i></div>
          </div>
        </div>
      </a>
    </div>
    {% empty %}
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="card bg-info text-dark font-weight-bold">
        <div class="card-body py-5">
          <p class="card-text">
            <i class="fal fa-exclamation-triangle font-weight-bold  mr-2"></i>
            Sorry, we couldn't find anything. Try checking back later.
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{# Paginator #}
<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="float-right">
        {% with events as items %} {% include "include/paginator.html" %} {% endwith %}
      </div>
    </div>
  </div>
</div>

{% endblock %}