[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Django = "*"
django-allauth = "*"
django-crispy-forms = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
django-optimized-image = "*"
django-htmlmin = "*"
django-cleanup = "*"
pillow = "*"
django-countries = "*"

[requires]
python_version = "*"
