{# User Bookings #}
<div class="container-fluid">
    <div class="row my-5">
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="form-group">
                <a href="{% url 'events_user_bookings' %}" class="btn btn-lg btn-block btn-outline-primary">Manage
                    Bookings</a>
            </div>
        </div>
    </div>
</div>

{# Divider #}
<div class="container-fluid">
    <div class="row my-5">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <hr>
        </div>
    </div>
</div>