{% extends 'events/root.html' %} {% block title %}Booking Complete{% endblock %} {% block content %}
{% load static %}

{# Breadcrumbs #}
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <nav aria-label="breadcrumb">
        <hr>
                <ol class="breadcrumb bg-white p-0">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                    
                    <li class="breadcrumb-item"><a href="{% url 'youth_events' %}">Youth Events</a></li>
                    <li class="breadcrumb-item"><a href="">{{ event_complete.title }}</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Booking Complete</li>
                </ol>
        <hr>
            </nav>
        </div>
    </div>
</div>

{# Banner #}
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h2 class="display-1 w-100">Booking Complete</h2>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="form-group">
                <a href="{% url 'events' %}" class="btn btn-lg btn-block btn-primary">View More Events</a>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="form-group">
                <button onclick="window.print()" class="btn btn-lg btn-block btn-primary">Download Receipt</button>
            </div>
        </div>
    </div>
</div>

{# Divider #}
<div class="container-fluid">
    <div class="row my-5">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <hr>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <p>You're booking has been processed.</p>
            <p>Please note, all payments are done off-line to avoid unnecessary charges and confusion. Ensure you
                pay in advance or on the day of the event.</p>
        </div>
    </div>
</div>

{# Divider #}
<div class="container-fluid">
    <div class="row my-5">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <hr>
        </div>
    </div>
</div>

{# Booking Info #}
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <h4 class="font-weight-bold">Booking Information:</h4>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="form-group">
                <ul class="list-group">
                    <li class="list-group-item bg-light">Event Booked:</li>
                    <li class="list-group-item">{{ event_complete.title }}</li>
                </ul>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
            <div class="form-group">
                <ul class="list-group">
                    <li class="list-group-item bg-light">Booking Date:</li>
                    <li class="list-group-item">{{ event_complete.booking_date }}</li>
                </ul>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
            <div class="form-group">
                <ul class="list-group">
                    <li class="list-group-item bg-light">Total Owed:</li>
                    <li class="list-group-item">{{ event_complete.total_price }}</li>
                </ul>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
            <div class="form-group">
                <ul class="list-group">
                    <li class="list-group-item bg-light">Bookings:</li>
                    <li class="list-group-item">€ {{ event_complete.bookings }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{# Divider #}
<div class="container-fluid">
    <div class="row my-5">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <hr>
        </div>
    </div>
</div>

{# Event Info #}
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <h4 class="font-weight-bold">Event Information:</h4>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
            <div class="form-group">
                <ul class="list-group">
                    <li class="list-group-item bg-light">Event Start Date:</li>
                    <li class="list-group-item">{{ event_complete.start_date }}</li>
                </ul>
            </div>
        </div>
        {% if event_complete.end_date %}
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
            <div class="form-group">
                <ul class="list-group">
                    <li class="list-group-item bg-light">Event End Date:</li>
                    <li class="list-group-item">{{ event_complete.end_date }}</li>
                </ul>
            </div>
        </div>
        {% endif %}
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
            <div class="form-group">
                <ul class="list-group">
                    <li class="list-group-item bg-light">Fee:</li>
                    <li class="list-group-item">€ {{ event_complete.fee }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}