{% extends 'events/root.html' %} {% block title %}Events{% endblock %} {% block content %}
{% load static %}

{# Breadcrumbs #}
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Events</li>
        </ol>
        <hr>
      </nav>
    </div>
  </div>
</div>

{# Banner #}
<div class="container-fluid">
  <div class="row my-5">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <h2 class="display-4">Events</h2>
    </div>
  </div>
</div>

{# Event Navbar #}
{% include "events/events_booking/event_navbar.html" %}

{# Events #}
<div class="container-fluid">
  <div class="row mt-4">

    {# General Events #}
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
      <a href="{% url 'general_events' %}">
        <div class="form-group">
          <div class="card text-dark bg-light border-0 h-100">
            <img src="{% static 'global/images/placeholders/image-placeholder.jpg' %}"
              data-src="{% static 'apps/events/images/image-1.jpg' %}" loading="lazy" alt="General Events Image"
              class="lazy img-fluid card-img-top feed" width="100%">
            <div class="card-body">
              <div class="card-title">General Events</div>
            </div>
          </div>
        </div>
      </a>
    </div>

    {# Youth Events #}
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
      <a href="{% url 'youth_events' %}">
        <div class="form-group">
          <div class="card text-dark bg-light border-0 h-100">
            <img src="{% static 'global/images/placeholders/image-placeholder.jpg' %}"
              data-src="{% static 'apps/events/images/image-2.jpg' %}" loading="lazy" alt="Youth Events Image"
              class="lazy img-fluid card-img-top feed" width="100%">
            <div class="card-body">
              <div class="card-title">Youth Events</div>
            </div>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>

{% endblock %}