{% extends 'base.html' %} {% block title %}Error 400{% endblock %} {% block content %}
{% load static %}

{# Breadcrumbs #}
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <nav aria-label="breadcrumb">
        <hr>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Error 400</li>
                </ol>
        <hr>
            </nav>
        </div>
    </div>
</div>

{# Banner #}
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h2 class="display-4">Error 400</h2>
        </div>
    </div>
</div>

{# Message #}
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <p>Error 400 - Unable to process the request</p>
        </div>
    </div>
</div>

{% endblock %}